*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,li{
  text-decoration: none;
  list-style: none;
}
p{
  display: flex;
}

:root{
  /*Primary*/
  --Orange: #fb7413;

  /*Neutral*/
  --White: #ffffff;
  --Light-Grey: #949dab;
  --Medium-Grey: #7c8798;
  --Medium-Grey-tr: #7d889933;
  --Dark-Blue: #252d37;
  --Very-Dark-Blue: #121417;
  --Very-Dark-Blue-2: #191a1d;
}

body{
  font-family: 'Overpass', sans-serif;
}

.container{
  background-color: var(--Very-Dark-Blue);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--White);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background: linear-gradient(to top, var(--Very-Dark-Blue-2) 10%, var(--Dark-Blue) 50%);
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.page{
  width: 18rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--GrayishBlue);
  gap: 1rem;
}

/*Page 1*/

#page1{
  display: block;
}

.star{
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--Medium-Grey-tr);
}

.star img{
  width: 1rem;
  height: 1rem;
}

.title{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

h1{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.title p{
  font-size: 0.8rem;
  color: var(--Medium-Grey);
}

.options{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 17rem;
}

.options div{
  background-color: var(--Medium-Grey-tr);
  color: var(--Light-Grey);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  position: relative;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.options div label{
  position: absolute;
}

.options div input[type=radio]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
}

.one:active,
.two:active,
.three:active,
.four:active,
.five:active{
  color: var(--Very-Dark-Blue);
  background-color: var(--Light-Grey);
}

.attribution{
  display: flex;
  flex-direction: column;
}

button{
  background-color: var(--Orange);
  padding: 0.8rem 6.3rem;
  color: var(--White);
  border-radius: 2rem;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
}

/*Page 2*/

#page2{
  display: none;
}

.thankYouImg{
  width: 8.5rem;
}

.thankYouMsg{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.selected{
  color: var(--Orange);
  background-color: var(--Medium-Grey-tr);
  font-size: 0.8rem;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 0.8rem;
  width: 9.5rem;
  margin: 1rem;
}

.text{
  font-size: 0.8rem;
  color: var(--Light-Grey);
}





