*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,li{
  text-decoration: none;
  list-style: none;
}
p{
  display: flex;
}

:root{
  /*Primary*/
  --Orange: #fb7413;

  /*Neutral*/
  --White: #ffffff;
  --Light-Grey: #949dab;
  --Medium-Grey: #7c8798;
  --Dark-Blue: #252d37;
  --Very-Dark-Blue: #121417;
}

body{
  font-family: 'Overpass', sans-serif;
}

.container{
  background-color: var(--Very-Dark-Blue);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--White);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background: linear-gradient(to top, var(--Dark-Blue) 20%, var(--Dark-Blue) 50%);
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.page{
  width: 18rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--GrayishBlue);
  gap: 1rem;
}

/*Page 1*/

.title{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content:flex-start;
}

h1{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.title p{
  font-size: 0.8rem;
  color: var(--Medium-Grey);
}

ul{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

ul li{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  height: 5rem;
}

li div{
  background-color: var(--Very-Dark-Blue);
  width: 2.5rem;
  height: 2.5rem;
  padding: 1rem;
  position: absolute;
  border-radius: 2rem;
}

li p{
  color: var(--Light-Grey);
  position: absolute;
  font-size: 0.8rem;
  font-weight: 700;
}

.star{
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

#page1{
  display: none;
}

#page2{
  display: block;
}

.attribution{
  display: flex;
  flex-direction: column;
}

button{
  background-color: var(--Orange);
  padding: 0.8rem 6.3rem;
  color: var(--White);
  border-radius: 2rem;
  border: none;
  letter-spacing: 2px
}

/*Page 2*/

.thankYouImg{
  width: 8.5rem;
}

.thankYouMsg{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.thankYouMsg p{
  font-size: 0.8rem;
  color: var(--Medium-Grey);
}

.selected{
  color: var(--Orange);
  background-color: var(--Very-Dark-Blue);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 10rem;
  margin: 1rem;
}

